{
  "development": {
    "username": "{{ mysql_username }}",
    "password": "{{ mysql_password }}",
    "database": "{{ mysql_database }}",
    "host": "{{ mysql_host }}",
    "dialect": "mysql",
    "dialectOptions": {
      "ssl": {
        "require": true,
        "rejectUnauthorized": false
      }
    }
  },
  "test": {
    "username": "{{ mysql_username }}",
    "password": "{{ mysql_password }}",
    "database": "{{ mysql_database }}",
    "host": "{{ mysql_host }}",
    "dialect": "mysql",
    "dialectOptions": {
      "ssl": {
        "require": true,
        "rejectUnauthorized": false
      }
    }
  },
  "production": {
    "username": "{{ mysql_username }}",
    "password": "{{ mysql_password }}",
    "database": "{{ mysql_database }}",
    "host": "{{ mysql_host }}",
    "dialect": "mysql",
    "dialectOptions": {
      "ssl": {
        "require": true,
        "rejectUnauthorized": false
      }
    }
  }
}
